{{> emailHeader }}
<div class="main " style="margin:  auto; max-width: 750px; width:100%;padding-top: 30px; ">
    <div class="template-card" style="max-width: 750px; width:100%; margin: auto; ">
        <div style="padding: 0 6px;">               
            <p style="margin: 24px 0;">Dear Partner,</p>
            <p style="margin-bottom: 24px;">You have a new enquiry.</p>
        </div>
        
            <div class="courses-list" style="padding: 0 6px;display: flex; background:#f8f8f8">
                <div class="image-block" style="width:250px;height:150px;background:#f8f8f8"> <img src="{{ courseImgUrl }}" style="width:250px;height:125px;border-radius: 4px;"></div>
                <div class="content-block" style="width:60%;background:#f8f8f8;padding-left:15px;height:150px;">
                    <h3 style="font"> {{ course_name }}</h3>
                    <p style="color:rgba(0,0,0,0.7);font-size:14px;letter-spacing:0.3px;font-weight:500;margin-bottom:5px"> {{ provider }} </p>
                </div>
        </div>            
        <div style="margin-bottom: 25px;padding: 0 6px;background:#f8f8f8">
            <div style="margin-bottom: 7px;">
                <div style="font-size: 15px;line-height: 14px;font-weight: 500;color: #010010;display: inline-block;width: 49%;"> User Details:</div>
            </div>
            <div style="margin-bottom: 7px;">
                <div style="font-size: 15px;line-height: 14px;color: #010010;display: inline-block;width: 49%;"> Name: {{ full_name }}</div>
            </div>
            <div style="margin-bottom: 7px;">
                <div style="font-size: 15px;line-height: 14px;color: #010010;display: inline-block;width: 49%;"> Email: {{ email }}</div>
            </div>
            {{#if phone}}
            <div style="margin-bottom: 7px;">
                <div style="font-size: 15px;line-height: 14px;color: #010010;display: inline-block;width: 49%;"> Phone: {{ phone }}</div>
            </div>
            {{/if}}
            {{#if city}}
            <div style="margin-bottom: 7px;">
                <div style="font-size: 15px;line-height: 14px;color: #010010;display: inline-block;width: 49%;"> City: {{ city }}</div>
            </div>
            {{/if}}
            <div style="margin-bottom: 7px;">
                <div style="font-size: 15px;line-height: 14px;color: #010010;display: inline-block;width: 49%;"> &nbsp;</div>
            </div>
        </div>
        <div style="padding: 0 6px;">                
            <p>
                Thank you, <br>Careervira Team
            </p>
        </div>
    </div>
</div>
{{> emailFooter }}
