<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Crux - Feedback</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Montserrat',Roboto; background: #f3f3f3;">
    <div class="frise"></div>
    <div class="container details">

        <div class="main " style="margin: 50px auto; max-width: 650px; width:100%; min-width: 650px;">
            <div class="template-card" style="max-width: 650px; width:100%; margin: auto;">
                <!-- header -->
                <div class="header" style="
              background: white;
              padding-top: 70px;
              padding-bottom: 50px;
              border-bottom: 1px solid rgba(173, 173, 173, 0.3);
            ">
                    <p style="
                color: #202022;
                font-family: Montserrat, sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                margin: 0 !important;
                text-align: center;
              ">
                        <img src={{resource_link}}/static/images/logo2.png width="95"
                            style="clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none"
                            class="CToWUd">
                    </p>
                </div>
                <div class="content" style="background: white; padding: 40px;">
                    <div class="infoBlock"
                        style="margin: 0 0 30px;  padding: 30px;text-align: center; background: #FAFAFA; border: 1px solid #007FCA;">

                        <h4 class="mainTitle"
                            style="font-size: 20px; line-height: 25px; letter-spacing: 1px; font-weight: 600; margin-bottom: 0; padding-bottom: 5px; position: relative;">
                            Feedback</h4>
                        <span
                            style="border-bottom:1px solid #007FCA;height: 4px;width: 60px;display: block;margin: auto;"></span>
                        <span
                            style="border-bottom:1px solid #007FCA;height: 4px;width: 40px;display: block;margin: auto;"></span>
                        <p
                            style="font-size: 16px;line-height: 22px; letter-spacing: 1px; padding-bottom: 10px; color: rgba(0,0,0,0.7);">
                            
                            Name : {{name}}<br>
                            Email : {{email}}<br>
                            Phone : {{phone}}<br>
                            Comment : {{comment}}<br>
                            </p>

                         
                    </div>

 
                 
                </div>
            </div>
            <div class="footer" style="width: 100%; text-align: center;">
                <p>
                    <span style="color: #8a8a8a">Send to <a href="mailto:ashish@gmail.com"
                            style="color: #8a8a8a; text-decoration: none;">ashish@gmail.com</a></span> |
                    <span style="color: #8a8a8a"> Unsubscribe | Privacy Policy </span>
                </p>
                <p style="color: #8a8a8a"> Need help? Contact us at <a href="mailto:support@thecrux.com"
                        style="color: #8a8a8a; text-decoration: none;">support@thecrux.com</a></p>
                <p>
                    <span style="color: #8a8a8a">Crux company Name & Address</span>
                    <span style="color: #8a8a8a"> 20 square Road,#02-01, 049. United States</span>
                </p>
            </div>
            <div class="nav">
                <ul></ul>
            </div>
        </div>

</body>

</html>